# Test bed for loading database with AF data and visualizing the results

This notebook is a sandbox for loading AF data into the pandas dataframe, querying those dataframes, and then visualizing the structural model results.

### PREAMBLE

In [25]:
import pickle
import glob

### CHANGE THESE TO POINT TO YOUR OWN DATA FILES

In [4]:
data_dir = '/home/rbdavid/Projects/ornl_DLFA/temp_sadlsa_results/afold_mod/WP_010940344.1/'
working_dir = '/home/rbdavid/Projects/ornl_DLFA/temp_sadlsa_results/afold_mod/WP_010940344.1/temp/'

In [5]:
mkdir /home/rbdavid/Projects/ornl_DLFA/temp_sadlsa_results/afold_mod/WP_010940344.1/temp/

mkdir: cannot create directory ‘/home/rbdavid/Projects/ornl_DLFA/temp_sadlsa_results/afold_mod/WP_010940344.1/temp/’: File exists

### SANDBOX

In [22]:
# exploring the data structure held within the AF pickle files
model_result_pkl = data_dir + 'result_model_1.pkl'
with open(model_result_pkl,'rb') as infile:
    model_results = pickle.load(infile)
print(type(model_results))
print(model_results.keys(),'\n')
for key in list(model_results.keys()):
    print(key,type(model_results[key]))
    if str(type(model_results[key])) == "<class 'dict'>":
        for subkey in list(model_results[key]):
            print(subkey,type(model_results[key][subkey]))
            if str(type(model_results[key][subkey])) == "<class 'numpy.ndarray'>":
                print(model_results[key][subkey].shape)
    if str(type(model_results[key])) == "<class 'numpy.ndarray'>":
        print(model_results[key].shape)
    print('\n')

<class 'dict'>
dict_keys(['distogram', 'experimentally_resolved', 'masked_msa', 'predicted_lddt', 'structure_module', 'plddt'])

distogram <class 'dict'>
bin_edges <class 'numpy.ndarray'>
(63,)
logits <class 'numpy.ndarray'>
(81, 81, 64)


experimentally_resolved <class 'dict'>
logits <class 'numpy.ndarray'>
(81, 37)


masked_msa <class 'dict'>
logits <class 'numpy.ndarray'>
(508, 81, 23)


predicted_lddt <class 'dict'>
logits <class 'numpy.ndarray'>
(81, 50)


structure_module <class 'dict'>
final_atom_mask <class 'numpy.ndarray'>
(81, 37)
final_atom_positions <class 'numpy.ndarray'>
(81, 37, 3)


plddt <class 'numpy.ndarray'>
(81,)

In [24]:
# really only interested in visualizing the final plddt values (not the binned "logit" plddt results) 
model_results['plddt']

array([95.9557912 , 98.14932998, 98.62720958, 98.39559234, 98.2736977 ,
       97.82334194, 97.19182631, 94.25029452, 92.23780245, 93.76431857,
       94.28504889, 94.89599746, 96.86817959, 96.10531504, 97.27730051,
       96.9887179 , 97.51199956, 97.65830714, 97.12419902, 95.6603777 ,
       96.53226384, 96.71447649, 97.02729604, 98.11941713, 96.97256663,
       96.32970903, 96.80878501, 96.54165357, 95.87152877, 94.84217455,
       93.35400142, 91.28798952, 90.67581629, 86.4001612 , 96.16992342,
       97.66540163, 97.99280383, 98.5801043 , 98.6232093 , 98.47842382,
       98.43681898, 97.91729322, 96.65233018, 95.39145525, 94.86021666,
       93.90949101, 92.42907953, 94.75591406, 96.99985879, 97.65385227,
       98.40580244, 98.24316166, 98.11444872, 98.05891452, 97.87609884,
       96.41845674, 95.31815795, 96.87566462, 97.42768898, 98.04514844,
       98.39396744, 98.59178508, 98.31109538, 95.62228103, 97.82816557,
       98.50572608, 97.98937127, 97.55119119, 97.72953387, 97.68430084,
       96.45135012, 95.43738257, 94.11764343, 92.13347219, 90.77098019,
       85.67241011, 80.54976124, 69.82475738, 59.52007864, 59.48653264,
       45.89630931])

In [27]:
model_result_pkls = glob.glob(data_dir + 'result_model_*.pkl')
model_result_pkls.sort()
n_models = len(model_result_pkls)
columns = ["model_%d"%(i+1) for i in range(n_models)]
plddt_dict = {}
for i, model_pkl in enumerate(model_result_pkls):
    with open(model_pkl,'rb') as file_:
        model_results = pickle.load(file_)
    plddt_dict['model_%d'%(i+1)] = model_results['plddt']

In [30]:
import pandas as pd
df = pd. DataFrame(plddt_dict)

In [31]:
df

      model_1    model_2    model_3    model_4    model_5
0   95.955791  96.138543  97.039665  96.165786  97.246066
1   98.149330  98.024664  98.478268  98.127158  98.561414
2   98.627210  98.632123  98.693972  98.576797  98.767269
3   98.395592  98.404823  98.598844  98.186127  98.662409
4   98.273698  98.279608  98.436594  98.104180  98.573181
..        ...        ...        ...        ...        ...
76  80.549761  82.235152  81.126946  81.520271  81.221231
77  69.824757  69.221722  73.215049  72.178397  70.931490
78  59.520079  63.567112  64.779248  65.941218  63.232778
79  59.486533  63.308439  62.377211  62.971200  62.169416
80  45.896309  50.208275  57.349493  55.999102  56.969578

[81 rows x 5 columns]