# Test bed for loading database with SAdLSA data

This notebook is a sandbox for loading SAdLSA data into the sqlite3 database.

In [1]:
cd ../parsers/

/Users/may/Projects/alphafold/structural_DLFA/parsers

In [2]:
import sadlsa_parsers

In [3]:
from pathlib import Path

In [4]:
data_dir = Path('/Users/may/Projects/data/PSP/desulfovibrio_vulgaris/out/WP_164928147.1/sadlsa_pdb70_210310')

In [5]:
score_file = data_dir / 'WP_164928147.1_sco.dat'
alignment_file = data_dir / 'WP_164928147.1_aln.dat'

In [6]:
score_df = sadlsa_parsers.parse_sadlsa_score_file(str(score_file))

In [7]:
score_df

,protein,seqname,alnlen,range1,tmscore1,range2,tmscore2,alnscore,seq_id,desc
0,WP_164928147.1,5G3Q_A,49,3-51,0.3542,1-57,0.2628,473.20,18.4%,WNK3B; DE NOVO PROTEIN; 1.613A {HOMO SAPIENS}
1,WP_164928147.1,1DP3_A,44,8-51,0.3476,1-51,0.3418,503.39,15.9%,"DNA BINDING DOMAIN OF THE; helix-loop-helix, ..."
2,WP_164928147.1,4QPO_A,44,8-51,0.3472,1-51,0.3445,503.61,20.5%,"Relaxosome protein TraM; RHH Domain, DNA Bind..."
3,WP_164928147.1,2D8U_A,51,1-51,0.3277,10-61,0.3168,575.45,11.8%,Ubiquitin ligase TRIM63 (E.C.6.3.2.-); tripar...
4,WP_164928147.1,3OMY_B,45,7-51,0.3262,1-50,0.3254,511.72,13.3%,"TraM; DNA binding protein, dimer, bacterial; ..."
5,WP_164928147.1,3OMY_A,45,7-51,0.3262,1-50,0.3254,511.72,13.3%,"TraM; DNA binding protein, dimer, bacterial; ..."
6,WP_164928147.1,5Z7G_D,43,4-48,0.3175,1-43,0.3184,494.08,4.7%,"Tax1-binding protein 1, 5-azacytidine-induced..."
7,WP_164928147.1,5Z7L_D,43,4-48,0.3175,1-43,0.3184,494.08,4.7%,Calcium-binding and coiled-coil domain-contai...
8,WP_164928147.1,2KJF_A,50,1-51,0.3136,3-52,0.3014,529.80,8.0%,"Carnocyclin-A; circular bacteriocin, antimicr..."
9,WP_164928147.1,5U96_A,45,1-49,0.3124,8-52,0.3121,514.38,6.7%,Putative integrase; site-specific recombinati...

In [8]:
align_df = sadlsa_parsers.parse_sadlsa_aln_file(str(alignment_file))

In [9]:
align_df.head()

,protein,Aln_num,Prot_ID,naln,score,tms1,tms2,sid,Ind,Res1,AA1,Res2,AA2,MeanDist,Bin,Prob<3,Prob<5,Prob<8
0,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,1,3,E,1,S,6.467,2,0.359,0.541,0.745
1,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,2,4,D,2,M,5.247,2,0.479,0.657,0.828
2,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,3,5,T,3,T,4.205,2,0.597,0.752,0.890
3,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,4,6,R,4,S,3.416,1,0.705,0.831,0.929
4,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,5,7,R,5,R,2.701,1,0.804,0.892,0.959

In [10]:
align_df.tail()

,protein,Aln_num,Prot_ID,naln,score,tms1,tms2,sid,Ind,Res1,AA1,Res2,AA2,MeanDist,Bin,Prob<3,Prob<5,Prob<8
4892,WP_164928147.1,100,2BKY_X,51,488.6,0.2490,0.2211,7.8,47,47,T,84,R,2.375,1,0.863,0.900,0.965
4893,WP_164928147.1,100,2BKY_X,51,488.6,0.2490,0.2211,7.8,48,48,L,85,L,2.451,1,0.851,0.894,0.964
4894,WP_164928147.1,100,2BKY_X,51,488.6,0.2490,0.2211,7.8,49,49,G,86,K,2.733,1,0.817,0.875,0.954
4895,WP_164928147.1,100,2BKY_X,51,488.6,0.2490,0.2211,7.8,50,50,R,87,R,3.214,1,0.755,0.842,0.937
4896,WP_164928147.1,100,2BKY_X,51,488.6,0.2490,0.2211,7.8,51,51,R,88,V,4.509,2,0.591,0.728,0.876