# Test bed for loading database with SAdLSA data

This notebook is a sandbox for loading SAdLSA data into the sqlite3 database.

In [11]:
cd ../parsers/

/Users/may/Projects/alphafold/structural_DLFA/parsers

In [12]:
import sadlsa_parsers

In [13]:
from pathlib import Path

In [14]:
data_dir = Path('/Users/may/Projects/data/PSP/desulfovibrio_vulgaris/out/WP_164928147.1/sadlsa_pdb70_210310')

In [15]:
score_file = data_dir / 'WP_164928147.1_sco.dat'
alignment_file = data_dir / 'WP_164928147.1_aln.dat'

In [16]:
score_df = sadlsa_parsers.parse_sadlsa_score_file(str(score_file))

In [17]:
score_df

,protein,seqname,alnlen,range1,tmscore1,range2,tmscore2,alnscore,seq_id
0,WP_164928147.1,5G3Q_A,49,3-51,0.3542,1-57,0.2628,473.20,18.4
1,WP_164928147.1,1DP3_A,44,8-51,0.3476,1-51,0.3418,503.39,15.9
2,WP_164928147.1,4QPO_A,44,8-51,0.3472,1-51,0.3445,503.61,20.5
3,WP_164928147.1,2D8U_A,51,1-51,0.3277,10-61,0.3168,575.45,11.8
4,WP_164928147.1,3OMY_B,45,7-51,0.3262,1-50,0.3254,511.72,13.3
5,WP_164928147.1,3OMY_A,45,7-51,0.3262,1-50,0.3254,511.72,13.3
6,WP_164928147.1,5Z7G_D,43,4-48,0.3175,1-43,0.3184,494.08,4.7
7,WP_164928147.1,5Z7L_D,43,4-48,0.3175,1-43,0.3184,494.08,4.7
8,WP_164928147.1,2KJF_A,50,1-51,0.3136,3-52,0.3014,529.80,8.0
9,WP_164928147.1,5U96_A,45,1-49,0.3124,8-52,0.3121,514.38,6.7

In [22]:
score_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   protein   10 non-null     string
 1   seqname   10 non-null     string
 2   alnlen    10 non-null     int64
 3   range1    10 non-null     string
 4   tmscore1  10 non-null     float64
 5   range2    10 non-null     string
 6   tmscore2  10 non-null     float64
 7   alnscore  10 non-null     float64
 8   seq_id    10 non-null     float64
dtypes: float64(4), int64(1), string(4)
memory usage: 848.0 bytes

In [18]:
align_df = sadlsa_parsers.parse_sadlsa_aln_file(str(alignment_file))

In [19]:
align_df.head()

,protein,Aln_num,Prot_ID,naln,score,tms1,tms2,sid,Ind,Res1,AA1,Res2,AA2,MeanDist,Bin,Prob<3,Prob<5,Prob<8
0,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,1,3,E,1,S,6.467,2,0.359,0.541,0.745
1,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,2,4,D,2,M,5.247,2,0.479,0.657,0.828
2,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,3,5,T,3,T,4.205,2,0.597,0.752,0.890
3,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,4,6,R,4,S,3.416,1,0.705,0.831,0.929
4,WP_164928147.1,1,5G3Q_A,49,473.2,0.3542,0.2628,18.4,5,7,R,5,R,2.701,1,0.804,0.892,0.959

In [20]:
align_df.tail()

,protein,Aln_num,Prot_ID,naln,score,tms1,tms2,sid,Ind,Res1,AA1,Res2,AA2,MeanDist,Bin,Prob<3,Prob<5,Prob<8
454,WP_164928147.1,10,5U96_A,45,514.4,0.3124,0.3121,6.7,41,45,R,48,Q,2.853,1,0.825,0.871,0.927
455,WP_164928147.1,10,5U96_A,45,514.4,0.3124,0.3121,6.7,42,46,L,49,I,3.342,1,0.787,0.837,0.902
456,WP_164928147.1,10,5U96_A,45,514.4,0.3124,0.3121,6.7,43,47,T,50,E,3.754,1,0.750,0.810,0.882
457,WP_164928147.1,10,5U96_A,45,514.4,0.3124,0.3121,6.7,44,48,L,51,A,4.418,1,0.684,0.761,0.852
458,WP_164928147.1,10,5U96_A,45,514.4,0.3124,0.3121,6.7,45,49,G,52,N,5.347,2,0.576,0.691,0.812

In [21]:
align_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   protein   459 non-null    string
 1   Aln_num   459 non-null    int64
 2   Prot_ID   459 non-null    string
 3   naln      459 non-null    int64
 4   score     459 non-null    float64
 5   tms1      459 non-null    float64
 6   tms2      459 non-null    float64
 7   sid       459 non-null    float64
 8   Ind       459 non-null    int64
 9   Res1      459 non-null    int64
 10  AA1       459 non-null    string
 11  Res2      459 non-null    int64
 12  AA2       459 non-null    string
 13  MeanDist  459 non-null    float64
 14  Bin       459 non-null    int64
 15  Prob<3    459 non-null    float64
 16  Prob<5    459 non-null    float64
 17  Prob<8    459 non-null    float64
dtypes: float64(8), int64(6), string(4)
memory usage: 64.7 KB