# TMalign and SAdLSA data

The intent here is to do a join between the two datasets and then compare
alignment scores for common proteins.  This also serves as an example on how to
use the `sqlite3` database to load the data.

In [2]:
import pandas as pd
from pathlib import Path

from database.database import Database
import seaborn as sea

In [4]:
db = Database('/Users/may/Projects/alphafold/structural_DLFA/db/dlfa.db')

In [5]:
tmalign_data = db.query('select protein, tname, mscore from tmalign_scores')

In [7]:
tmalign_df = pd.DataFrame(tmalign_data)

In [10]:
tmalign_df.columns = ['protein','tname','mscore']

In [11]:
tmalign_df.head()

          protein   tname   mscore
0  WP_010937312.1  1FNN_B  0.54014
1  WP_010937312.1  5M7O_A  0.52752
2  WP_010937312.1  6N8T_F  0.52286
3  WP_010937312.1  6AZY_A  0.51699
4  WP_010937312.1  3K1J_B  0.51685

In [12]:
del tmalign_data

In [13]:
sadlsa_data = db.query('select protein, Prot_ID, tms1 from sadlsa_alignments')

In [14]:
sadlsa_df = pd.DataFrame(sadlsa_data)

In [15]:
sadlsa_df.head()

                0       1       2
0  WP_010937346.1  1ZHC_A  0.5454
1  WP_010937346.1  1ZHC_A  0.5454
2  WP_010937346.1  1ZHC_A  0.5454
3  WP_010937346.1  1ZHC_A  0.5454
4  WP_010937346.1  1ZHC_A  0.5454

In [16]:
sadlsa_df.columns = ['protein','Prot_ID','tms1']

In [17]:
del sadlsa_data

In [18]:
sadlsa_df.tail()

                protein Prot_ID    tms1
1001322  WP_164928147.1  5U96_A  0.3124
1001323  WP_164928147.1  5U96_A  0.3124
1001324  WP_164928147.1  5U96_A  0.3124
1001325  WP_164928147.1  5U96_A  0.3124
1001326  WP_164928147.1  5U96_A  0.3124

In [19]:
sadlsa_df.columns

Index(['protein', 'Prot_ID', 'tms1'], dtype='object')

In [20]:
tmalign_df.columns

Index(['protein', 'tname', 'mscore'], dtype='object')

In [23]:
# rename the Prot_ID to tname to have a common name for merge
sadlsa_df.columns = ['protein','tname', 'tms1']

In [25]:
merged_df = pd.merge(sadlsa_df, tmalign_df)

In [26]:
len(merged_df)

304636

In [27]:
merged_df.head()

          protein   tname    tms1  mscore
0  WP_010937347.1  4CLV_A  0.7257  0.4663
1  WP_010937347.1  4CLV_A  0.7257  0.4663
2  WP_010937347.1  4CLV_A  0.7257  0.4663
3  WP_010937347.1  4CLV_A  0.7257  0.4663
4  WP_010937347.1  4CLV_A  0.7257  0.4663

In [28]:
merged_df.tail()

               protein   tname    tms1  mscore
304631  WP_164928140.1  1FXK_B  0.5758  0.5432
304632  WP_164928140.1  1FXK_B  0.5758  0.5432
304633  WP_164928140.1  1FXK_B  0.5758  0.5432
304634  WP_164928140.1  1FXK_B  0.5758  0.5432
304635  WP_164928140.1  1FXK_B  0.5758  0.5432

In [29]:
merged_df = merged_df.drop_duplicates()

In [30]:
len(merged_df)

1350

In [31]:
merged_df

               protein   tname    tms1   mscore
0       WP_010937347.1  4CLV_A  0.7257  0.46630
142     WP_010937347.1  4WWB_A  0.6121  0.52150
260     WP_010937351.1  4XQ7_A  0.7334  0.69852
461     WP_010937351.1  4RWN_A  0.7300  0.68975
663     WP_010937351.1  4S3N_A  0.7297  0.73568
...                ...     ...     ...      ...
303954  WP_164928113.1  4NOO_A  0.5937  0.63728
304118  WP_164928113.1  1XJT_A  0.5815  0.55171
304266  WP_164928113.1  1XJU_A  0.5784  0.46560
304410  WP_164928124.1  1FLL_B  0.5350  0.44859
304545  WP_164928140.1  1FXK_B  0.5758  0.54320

[1350 rows x 4 columns]