# TMalign and SAdLSA data

The intent here is to do a join between the two datasets and then compare
alignment scores for common proteins.  This also serves as an example on how to
use the `sqlite3` database to load the data.

In [8]:
import sys
import pandas as pd
from pathlib import Path

sys.path.append('/Users/may/Projects/alphafold/structural_DLFA/')

from database.database import Database
import seaborn as sea

In [9]:
db = Database('/Users/may/Projects/alphafold/structural_DLFA/db/dlfa.db')

In [10]:
tmalign_data = db.query('select protein, tname, mscore from tmalign_scores')

In [11]:
tmalign_df = pd.DataFrame(tmalign_data)

In [12]:
tmalign_df.columns = ['protein','tname','mscore']

In [13]:
tmalign_df.head()

          protein   tname   mscore
0  WP_010937312.1  1FNN_B  0.54014
1  WP_010937312.1  5M7O_A  0.52752
2  WP_010937312.1  6N8T_F  0.52286
3  WP_010937312.1  6AZY_A  0.51699
4  WP_010937312.1  3K1J_B  0.51685

In [14]:
del tmalign_data

In [15]:
sadlsa_data = db.query('select protein, Prot_ID, tms1 from sadlsa_alignments')

In [16]:
sadlsa_df = pd.DataFrame(sadlsa_data)

In [18]:
sadlsa_df.columns = ['protein','Prot_ID','tms1']

In [19]:
del sadlsa_data

In [20]:
sadlsa_df.tail()

                protein Prot_ID    tms1
1001322  WP_164928147.1  5U96_A  0.3124
1001323  WP_164928147.1  5U96_A  0.3124
1001324  WP_164928147.1  5U96_A  0.3124
1001325  WP_164928147.1  5U96_A  0.3124
1001326  WP_164928147.1  5U96_A  0.3124

In [21]:
sadlsa_df.columns

Index(['protein', 'Prot_ID', 'tms1'], dtype='object')

In [22]:
tmalign_df.columns

Index(['protein', 'tname', 'mscore'], dtype='object')

In [23]:
# rename the Prot_ID to tname to have a common name for merge
sadlsa_df.columns = ['protein','tname', 'tms1']

In [38]:
# Essentially an inner join of common protein and tname between the two dataframes
merged_df = pd.merge(sadlsa_df, tmalign_df)

In [25]:
len(merged_df)

304636

In [26]:
merged_df.head()

          protein   tname    tms1  mscore
0  WP_010937347.1  4CLV_A  0.7257  0.4663
1  WP_010937347.1  4CLV_A  0.7257  0.4663
2  WP_010937347.1  4CLV_A  0.7257  0.4663
3  WP_010937347.1  4CLV_A  0.7257  0.4663
4  WP_010937347.1  4CLV_A  0.7257  0.4663

In [27]:
merged_df.tail()

               protein   tname    tms1  mscore
304631  WP_164928140.1  1FXK_B  0.5758  0.5432
304632  WP_164928140.1  1FXK_B  0.5758  0.5432
304633  WP_164928140.1  1FXK_B  0.5758  0.5432
304634  WP_164928140.1  1FXK_B  0.5758  0.5432
304635  WP_164928140.1  1FXK_B  0.5758  0.5432

In [28]:
merged_df = merged_df.drop_duplicates()

In [29]:
len(merged_df)

1350

In [34]:
merged_df.reindex()

               protein   tname    tms1   mscore
0       WP_010937347.1  4CLV_A  0.7257  0.46630
142     WP_010937347.1  4WWB_A  0.6121  0.52150
260     WP_010937351.1  4XQ7_A  0.7334  0.69852
461     WP_010937351.1  4RWN_A  0.7300  0.68975
663     WP_010937351.1  4S3N_A  0.7297  0.73568
...                ...     ...     ...      ...
303954  WP_164928113.1  4NOO_A  0.5937  0.63728
304118  WP_164928113.1  1XJT_A  0.5815  0.55171
304266  WP_164928113.1  1XJU_A  0.5784  0.46560
304410  WP_164928124.1  1FLL_B  0.5350  0.44859
304545  WP_164928140.1  1FXK_B  0.5758  0.54320

[1350 rows x 4 columns]

In [36]:
merged_df

               protein   tname    tms1   mscore
0       WP_010937347.1  4CLV_A  0.7257  0.46630
142     WP_010937347.1  4WWB_A  0.6121  0.52150
260     WP_010937351.1  4XQ7_A  0.7334  0.69852
461     WP_010937351.1  4RWN_A  0.7300  0.68975
663     WP_010937351.1  4S3N_A  0.7297  0.73568
...                ...     ...     ...      ...
303954  WP_164928113.1  4NOO_A  0.5937  0.63728
304118  WP_164928113.1  1XJT_A  0.5815  0.55171
304266  WP_164928113.1  1XJU_A  0.5784  0.46560
304410  WP_164928124.1  1FLL_B  0.5350  0.44859
304545  WP_164928140.1  1FXK_B  0.5758  0.54320

[1350 rows x 4 columns]

In [32]:
len(merged_df.protein.unique())

288

In [37]:
merged_df.to_csv('tmalign_sadlsa.csv',index=False)